[Unit]

Description=Bmatic Management Service

[Service]
Type=forking
Restart=on-failure
RestartSec=5
ExecStart=$BMATIC_HOME/Application/wildfly-13-A/start.sh
Environment="BMATIC_HOME=$BMATIC_HOME"
SuccessExitStatus=143
TimeoutStopSec=10
[Install]
WantedBy=multi-user.target
