<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"[]>
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://192.168.63.204:1433;databaseName=dbBMatic</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">-625dcd088eb47a57</property>
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TxParamGeneral" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TmEmail" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TmCnfgAlarma" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TmAlarma" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TmServerCentral" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TpAlarmaGenerada" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TxModulo" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TxRegistro" />
    <mapping class="pe.com.hiper.bmatic.services.alarms.entity.TxRegistroCampo" />
  </session-factory>
</hibernate-configuration>
